interact/*
Plus_utiles/*
all-smath*
travail.txt
*pytex*.*
corr.tex
tikzfile*
tikzFIGLabelFig*.dpth
tikzFIGLabelFig*.nlo
tikzFIGLabelFig*.log
DS?_[45][AB].tex
*.md5
*.log
*.bbl
*.out
*.pyc
*.idx
*.nlo
*.blg
*.toc
*.nls
*.aux
*.auxlock
*.ind
*.ilg
*.bak
*.*~
*.swp
*.synctex.gz
*.pytex
CorrPytexFile*
0-*.pdf
.viminfo
.directory
pytextools.xml
automatedChapter.tex
*-source-*.tex
lst_fractions.py
ess.py
*_long.tex
lst_5Asmath.py
lst_5Bsmath.py
lst_4Asmath.py
5Bsmath.tex
5Asmath.tex
4Asmath.tex
5Bsmath.pdf
5Asmath.pdf
4Asmath.pdf





