travail.txt
corr.tex
tikzfile*
tikzFIGLabelFig*.dpth
tikzFIGLabelFig*.nlo
tikzFIGLabelFig*.log
*.log
*.bbl
*.out
*.pyc
*.idx
*.nlo
*.blg
*.toc
*.nls
*.aux
*.auxlock
*.ind
*.ilg
*.bak
*.*~
*.swp
*.synctex.gz
*.pytex
CorrPytexFile*
0-*.pdf
.viminfo
.directory
pytextools.xml
*-source-*.tex
