Plus_utiles/*
autre_géogébra/*
all-smath*
travail.txt
*pytex*.*
corr.tex
tikzfile*
tikzFIGLabelFig*.dpth
tikzFIGLabelFig*.nlo
tikzFIGLabelFig*.log
DS?_[45][AB].tex
*.log
*.bbl
*.out
*.pyc
*.idx
*.nlo
*.blg
*.toc
*.nls
*.aux
*.auxlock
*.ind
*.ilg
*.bak
*.*~
*.swp
*.synctex.gz
*.pytex
CorrPytexFile*
0-*.pdf
.viminfo
.directory
pytextools.xml
automatedChapter.tex
*-source-*.tex
lst_fractions.py
ess.py
*_long.tex
